@page
@model Web.IndexModel

<html>

<head>
    <title>New GUID!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: system-ui, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
        }

        body,
        footer {
            margin: 1rem;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }

        body,
        button {
            font-size: min(16px, 3vw);
        }

        ul {
            font-family: ui-monospace, "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
            padding: 0;
        }


        li {
            /* use flex so that you can double- or triple-click on the guid to select it, without catching the copy button */
            display: flex;
            gap: 0.5rem;
        }

        li+li {
            margin-top: 1rem;
        }

        li.in {
            /* indent these by one character to improve alignment */
            margin-left: 1ch;
        }

        button {
            padding: 0;
            border: none;
            background: none;
            max-height: 1rem;
            cursor: pointer;
        }

        a:any-link,
        button {
            color: rebeccapurple;
        }

        p {
            font-style: italic;
            opacity: 0;
            animation: ease 1s forwards congrats;
            animation-delay: 1s;
            margin-top: 2rem;
        }

        @@keyframes congrats {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* thank you EM: https://meyerweb.com/eric/thoughts/2023/01/16/minimal-dark-mode-styling/ */
        @@media (prefers-color-scheme: dark) {
            html {
                filter: invert(1);
            }
        }
    </style>
</head>

<body>
    <h1>New GUID ✨</h1>
    <ul id="guids">
        <li>
            <div>@Model.Guid.B</div>
        </li>
        <li>
            <div>@Model.Guid.P</div>
        </li>
        <li class="in">
            <div>@Model.Guid.D</div>
        </li>
        <li class="in">
            <div>@Model.Guid.N</div>
        </li>
    </ul>
    <p>Congratulations!</p>
    <footer><a href="https://www.wassupy.com" rel="me">Wassupy</a></footer>
    <script>
        // add copy buttons if JS enabled
        if (typeof Array.from === 'function' && navigator.clipboard) {

            Array.from(document.getElementsByTagName("li")).forEach(li => {
                const btn = document.createElement("button");
                btn.innerText = "copy"; btn.title = "Copy";
                li.insertAdjacentElement("beforeend", btn);
            });

            // handle copy buttons
            document.getElementById("guids").addEventListener("click", function (e) {
                if (e.target.tagName === "BUTTON") {
                    const text = e.target.previousElementSibling.innerText;
                    navigator.clipboard.writeText(text).then(() => {
                        let t = e.target.innerText;
                        e.target.innerText = t.startsWith("ok!") ? t + "!" : "ok!";
                    });
                    e.stopPropagation();
                }
            });

        }
    </script>
</body>

</html>